@import "rest";
body{
     background: #000;
}
//头部
.header{
    width:100%;
    height: 100px;
    background: #111111;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
 
.header_min{
       @include min;

       //图片LOG
       .headerLog{
           height: 90px;
           width: 90px;
           padding-top:5px;
           float: left;
           img{
               width: 100%;
               height: 100%;
           }
       }
       //菜单栏
       .header_ul{
           width: 893px;
           height: 62px;
           float: left;
           margin-top: 38px;
           line-height: 62px;
           
           li{
               width: 75px;
               text-align: center;
               float: left;
               margin-left: 32px;
               font-size: 16px;
               position: relative;
              a{
                font-weight: 600px;
                color:#fff;
                &:hover{
                    color: lime;
                }
            }
        }
    }
}
}


//头部下方题目区
.box{
    height: 100px;
    width: 100%;
}
.box1{
    @include min;
    width: 987px;
    height: 85px;
    h1{
        font-weight: 200;
        text-align: center;
        text-transform: uppercase;
        color: #44D62C;
        font-size: 2.25rem;
        line-height: 2.25rem;
        letter-spacing:.0625rem;
    }
    p{
       width: 829px;
       margin-left: 74px;
        font-size:  1.125rem;
        line-height: 1.75rem;
        color: #888;

    }

}
.one{
    width: 100%;
    background: #111;
    position: sticky;
    z-index: 100;
    top: 100px;
    left: 0;
.box_ul{
    @include min;
    height:70px;
    width: 987px;
    margin-top: 20px;
    
    .box_li{
        margin-left:352px;
    }
    li{
        float: left;
        margin-left: 28px;
        a{
            &:hover{
                color: #44D62C;
            }
        }
    }
   
}
}
//中部

.main{
    width: 100%;
    background: #222222;
    .main_box{
        width: 100%;
        height: 454px;
       .main_H2{
            @include min;
            width: 987px;
            height: 111px;
            h2{
                font-size:30px;
                color: #fff;
                padding-top: 56px;
                padding-bottom: 20px;
            }
        }
        .main_ul{
            @include min;
            width: 987px;
            height: 304px;
            li{
                position: relative;
                width: 319px;
                height: 304px;
                float: left;
                text-align: center;
                background: #292929;
                img{
                    display: inline-block;
                    margin-top: 20px;                    
                }
                h3{
                    color: #fff;
                    font-size:  20px;
                    margin-top: 10px;
                }
                p{
                    font-size:  16px;
                    color: #888;
                }
                .main_ul_span{
                    width: 70px;
                    height: 30px;
                    background:#28aadc;
                    display: block;
                    position: absolute;
                    top: 10px;
                    left: 0px;
                    text-align: center;
                    line-height: 30px;
                    font-weight: 600;
                }
            }
            .main_li2{
               margin-left:15px;
               margin-right:15px;
            }

        }
        .main_ul2{
            background: #222222;
            @include min;
            width: 100%;
            height: 1440px;
            li{
                position: relative;
                width: 100%;
                height:700px;
                margin-top: 0;
                img{
                    width: 100%;
                    height: 100%;
                }
                .main_ul2_box{
                    width: 323px;
                    height: 451px;
                    position: absolute;
                    top: 20%;
                    right:27%;
                    .main_ul_span{
                        width: 80px;
                        height: 30px;
                        background:#28aadc;
                        display: block;
                        text-align: center;
                        line-height: 30px;
                        font-weight: 600;
                    }
                    h2{
                        font-size:30px;
                        color: #fff;
                        padding-top: 30px;
                     }
                    p{  padding-top: 20px;
                        font-size:  1.125rem;
                        line-height: 1.75rem;
                        color: #888;
                        a{
                            color:  #44D62C;
                        }
                    }
                    a{
                        color:  #44D62C;
                        font-size:  15px;
                    }
                }
            }
        }
        .main_div_3{
            width: 100%;
            // background: red;
            text-align: center;
            span{
                margin: 0 auto;
                font-size: 26px;
                display: inline-block;
                margin-bottom: 30px;
                color: #44d62c;
            }
            .main_div3_ul{
                width: 981px;
                @include min;
               
               
                li{
                    margin-top: 10px;
                    margin-right: 10px;
                    float: left;
                    width: 316px;
                    height: 449px;
                    border-bottom:2px  solid #44D62C;
                    img{
                        display: inline-block;
                        margin: 0 auto;
                    }
                    h4{
                        font-size:17px;
                        color: #fff;

                    }
                    p{
                       color:#888;
                       font-size: 12px;
                        margin-bottom:90px;
                    }
                    a{
                        color: #44d62c;
                    }
                }
            }
        }
      
    }
   
}
//底部
.footer{
    margin-top: 50px;
    width: 100%;
    height:90px;
    background:#000000;
   .footer_box1{
        width: 100%;
        height: 90px;
        .footer_p1{
            @include min;
            margin-top: 10px;
            width: 992px;
            height:25px;
            text-align: center;
            line-height:25px;
            span{
                font-size: 12px;
                color:#00cf00;
                font-weight: 550;
                i{
                    color: #ccc;
                }
                a{
                    color:#00cf00;
                }
            }
           
        }
        .footer_p2{
            @include min;
            text-align: center;
            span{
                text-align: center;
                color: #666;
                font-size: 12px;
                a{
                    color: #998556;
                }
            }
        }
     
    }

}
